.page1 {
    background: #EEEEEE;
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr) ;
    grid-template-rows: repeat(12, 1fr);
}

.page1 h1{
    color: #464547;
    grid-column: 3/11;
    grid-row: 2/4;

}

.page1 h2{
    color: #666666;
    grid-column: 4/10;
    grid-row: 5/6;

}

.page1 p:first-of-type {
    color: black;
    grid-column: 2/6;
    grid-row: 7/10;
    text-align: justify;
  
}
.page1 p:last-of-type {
    color: black;
    grid-column: 7/12;
    grid-row: 7/10;
    text-align: justify;
}

.page1 button {
    background: #55C2D8;
    font-family: 'Oswald Regular';
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    border-radius: 18px;
    border: 0;
    height: fit-content;
    width: fit-content;
    justify-self: center;
    grid-column: 5/8;
    grid-row: 11/12;

}