.cover {
    background-image: url('/assets/Desktop_Backgrounds_1920x1200_6\ 3.png');
    height: 800px;
}
.cover img {
    Width: 63px;
    Height: 63px; 
    position: absolute;
    right: 567px;
    top: 274px;
}

.cover h1{
    color: #FFFFFF;
    position: absolute;
    width: 386px;
    height: 118px;
    top: 350px;
    right: 406px;
}

.cover h2{
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    width: 426px;
    height: 56px;
    top: 510px;
    right: 386px;
}
