footer {
    background: #464547;
    width: 1920px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 40px 20px 0 150px;
    box-sizing: border-box;
    

}

footer div {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;


}
div img {
    width: 20px;
    height: 20px;
    display: inline;
}

div h3{
    color: white;
    padding: 5px;
}

footer p:first-of-type {
    color: rgba(255, 255, 255, 0.4);
    line-height: 19px;
    grid-column: 3/4;
    grid-row: 1/2;
}

footer p:nth-of-type(2) {
    color: rgba(255, 255, 255, 0.4);
    line-height: 19px;
    grid-column: 3/4;
    grid-row: 2/3;
}

footer p:last-of-type {
    color: rgba(255, 255, 255, 0.4);
    line-height: 19px;
    grid-column: 6/8;
    grid-row: 2/3;
}