.page2 {
    background-image: url('/assets/IMG_1334_72dpi_RGB_\ 1.png');
    background-size: cover;
    height: 666px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.page2 h1{
    color: white;

}

.page2 h2{
    color: white;
}

.page2 button {
    background: #39C2D7;
    font-family: 'Oswald Regular';
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    border-radius: 50%;
    border: 0;
    width: 150px;
    height: 150px;
}

#buttonImg {
    width: 55px;
    height: 70px;
}