.cover {
    background-image: url('/assets/Desktop_Backgrounds_1920x1200_6\ 3.png');
    height: 800px;
}

nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    height: 100px;
    align-items: center;
}

header > h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    grid-column: 1/2;
}

ul {
    grid-column: 2/6;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

li{
    list-style-type: none;
    text-transform: uppercase;  
}

li > a {
    font-family: 'Source Sans Pro';
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
}


.cover img {
    Width: 63px;
    Height: 63px; 
    position: absolute;
    right: 567px;
    top: 274px;
}

.cover h1{
    color: #FFFFFF;
    position: absolute;
    width: 386px;
    height: 118px;
    top: 350px;
    right: 406px;
}

.cover h2{
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    width: 426px;
    height: 56px;
    top: 510px;
    right: 386px;
}
