@media only screen and (max-width: 768px) {
    .cover {
        background-size: 385px 340px,
                         cover;
        height: 400px;
        width: 640px;
        display: grid;
        grid-template-rows: repeat(9, 1fr);
        
    }
    nav {
        display: flex;
        height: 100px;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
      }
    
    header > h3 {
        padding-left: 5px;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    li>a{
        font-size: 3px;
        letter-spacing: 0.2em;
        min-width: 30px;
        border-radius: 3px;
        background-color: white;
    }
    li {
        margin: 0;
        line-height: 0.1em;
    }
    li:last-of-type{
        display: none;
    }
    #logo {
        grid-row: 2/3;
    }
    .cover h1{
        grid-row: 3/4;
    }
    .cover h2{
        grid-row: 7/8;
    }
    .page1 {
        width: 640px;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-items: center;
        
    }
    .page1 button {
        align-self: center;
    }

    .page2 {
        width: 640px;
    }

    footer {
        width: 640px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        text-align: center;
    }
    
    footer div {
        margin: 10px 0;
    }

    footer p:nth-of-type(2) {
        margin: 10px 0;
    }
    
    #stars {
        width: 240px;
        height: 348px;
        left: 403px;
        top: 40px;
    } 
    
}