//fonts
$font-family-principal: 'Source Sans Pro';
$font-family-secundary: 'Oswald';
$font-family-button: 'Oswald Regular';
$h1-font-weight: 700;
$h1-font-size: 48px;
$font-weight: 400;
$h2-font-size: 24px;
$h3-font-size: 18px;
$p-font-size: 16px;

//colors
$color-principal: white;
$color-subtitles: rgba(255, 255, 255, 0.7);
$color-headline-h1: #464547;
$color-headline-h2: #666666;
$color-headline-button: #55C2D8;
$color-learn-button: #39C2D7;
$color-paragraph-general: black;
$color-paragraph-footer: rgba(255, 255, 255, 0.4);
$color-background-headline: #EEEEEE;
$color-background-footer: #464547;


$global-margin: 0; 


