.headline {
    background: $color-background-headline;
    height: auto;
    width: 1920px;
    display: grid;
    grid-template-columns: repeat(12,1fr) ;
    grid-template-rows: repeat(12, 1fr);
    h1{
        color: $color-headline-h1;
        grid-column: 5/9;
        grid-row: 2/4;
    }
    h2{
        color: $color-headline-h2;
        grid-column: 4/10;
        grid-row: 5/6;
    }
    p:first-of-type {
        grid-column: 3/6;
        grid-row: 7/10;
    }
    p:last-of-type {
        grid-column: 8/11;
        grid-row: 7/10;
    }
    &__button {
        background: $color-headline-button;
        border-radius: 18px;
        height: fit-content;
        width: fit-content;
        padding: 0 35px;
        justify-self: center;
        grid-column: 6/8;
        grid-row: 11/12;
        transition: all 0.5s linear;
        transform-origin: left;

    }

}