@media (max-width: 768px) {
    .home {
        background-size: 385px 340px,
                         cover;
        height: 400px;
        width: 640px;
        display: grid;
        grid-template-rows: repeat(9, 1fr);
        &__nav {
            display: flex;
            height: 100px;
            justify-content: space-between;
            padding-left: 15px;
            padding-right: 15px;
            h3 {
                padding-left: 5px;
            }
            ul {
                display: flex;
                flex-direction: column;
            }
            li {
                margin: 0;
                line-height: 0.1em;
                a{
                    font-size: 3px;
                    letter-spacing: 0.2em;
                    min-width: 30px;
                    border-radius: 3px;
                    background-color: white;
                }
            
            }
            li:last-of-type{
                    display: none;
            }
        }
        &__stars {
            width: 240px;
            height: 348px;
            left: 403px;
            top: 40px;
        } 
        &__logo {
            grid-row: 2/3;
        }
        h1{
            grid-row: 3/4;
        }
        h2{
            grid-row: 7/8;
        }
    }
    
    .headline {
        width: 640px;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-items: center;
        &__button {
            align-self: center;
        }
    }

    .learn {
        width: 640px;
    }

    .footer {
        width: 640px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        text-align: center;
        div {
            margin: 10px 0;
        }
        p:nth-of-type(2) {
            margin: 10px 0;
        }
    }    
}