.home {
    &__logo:hover {
    transform: rotateY(180deg) scale(2,2); 
    }
}

.headline {
    &__button:hover {
        transform: rotateZ(15deg); 
    }
} 

.learn {
    button:hover {
        background: white; 
        transform: scale(0.95,0.95);
    }
    button:hover svg path {
        fill: #39C2D7; 
    }
}